<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Assign People'); ?></h4></div>
<div class="modal-body">
    <div class="form-group">
        <label for="peopleid"><?php _e('Account'); ?></label>
        <select class="form-control select2" id="peopleid" name="peopleid" style="width: 100%;">
            <?php
            foreach($people as $item) {
                echo "<option value='".$item['id']."'>";
                        echo $item['name'];
                echo "</option>";
            }
            ?>
        </select>
    </div>


    <input type="hidden" name="action" value="addHostPeople">
    <input type="hidden" name="hostid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> <?php _e('Assign'); ?></button>
</div>

<script type="text/javascript">
		$(".select2").select2();
</script>
