<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Edit Credential'); ?></h4></div>
<div class="modal-body">

    <?php if($isAdmin) { ?>
        <div class="form-group">
            <label for="clientid"><?php _e('Client'); ?> *</label>
            <select class="form-control select2 select2-hidden-accessible" id="clientid" name="clientid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <?php foreach ($clients as $client) { ?>
                    <option value='<?php echo $client['id']; ?>' <?php if($credential['clientid'] == $client['id']) echo "selected"; ?>><?php echo $client['name']; ?></option>
                <?php } ?>
            </select>
        </div>
    <?php } ?>
    <?php if(!$isAdmin) { ?><input type="hidden" name="clientid" value="<?php echo $credential['clientid']; ?>"><?php } ?>

    <div class="form-group">
        <label for="assetid"><?php _e('Asset'); ?></label>
        <select class="form-control select2" id="assetid" name="assetid" style="width: 100%;">
            <option value="0"><?php _e('None'); ?></option>

            <?php foreach ($assets as $asset) {  ?>
                <option value='<?php echo $asset['id']; ?>' <?php if($credential['assetid'] == $asset['id']) echo "selected"; ?>>
                    <?php
                        echo $asset['tag']." ".$asset['name'];
                        if ($asset['clientid'] != "0") echo " [" .getSingleValue("clients","name",$asset['clientid']). "] ";
                     ?>
                </option>
            <?php } ?>

            <?php
            ?>
        </select>
    </div>
    <div class="form-group">
        <label for="type"><?php _e('Type'); ?> *</label>
        <input type="text" class="form-control" id="type" name="type" value="<?php echo $credential['type']; ?>" required>
    </div>
    <div class="form-group">
        <label for="username"><?php _e('Username'); ?> *</label>
        <input type="text" class="form-control" id="username" name="username" value="<?php echo $credential['username']; ?>" required>
    </div>
    <div class="form-group">
        <label for="password"><?php _e('Password'); ?></label>
        <div class="input-group">
            <input type="text" class="form-control passwordinput" id="password" name="password" placeholder="<?php _e('Enter or generate new password to change.'); ?>">
            <span class="input-group-btn"><button type="button" class="btn btn-default btn-flat getNewPass" data-toggle='tooltip' title='<?php _e('Generate password'); ?>'><i class="fa fa-refresh"></i></button></span>
        </div>
    </div>

    <input type="hidden" name="id" value="<?php echo $_GET['id']; ?>">
    <input type="hidden" name="action" value="editCredential">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> <?php _e('Save'); ?></button>
</div>

<script type="text/javascript">
    function generatePassword() {
        var length = <?php echo getConfigValue("password_generator_length"); ?>,
        charset = "abcdefghijklnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
        retVal = "";
        for (var i = 0, n = charset.length; i < length; ++i) {
            retVal += charset.charAt(Math.floor(Math.random() * n));
        }
        return retVal;
    }

    $(".getNewPass").click(function(){
        $(".passwordinput").val(generatePassword());
    });

	$(".select2").select2();
</script>
