<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('View Credential'); ?></h4></div>
<div class="modal-body">


    <table class="table table-bordered table-hover">
            <tr>
                <td class="text-bold"><?php _e('Type'); ?></td>
                <td><?php echo $credential['type']; ?></td>
            </tr>
            <tr>
                <td class="text-bold"><?php _e('Username'); ?></td>
                <td><?php echo $credential['username']; ?></td>
            </tr>
            <tr>
                <td class="text-bold"><?php _e('Password'); ?></td>
                <td><?php echo mc_decrypt($credential['password']); ?></td>
            </tr>

    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary clipboard" data-clipboard-text="<?php echo mc_decrypt($credential['password']); ?>" data-dismiss="modal"><i class="fa fa-copy"></i> <?php _e('Copy & Close'); ?></button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Close'); ?></button>
</div>

<script type="text/javascript">



	new Clipboard('.clipboard');

</script>
