<?php
// This file is for the xgettext interpreter to add string not found in template to po file.


__('Now');

_x("%d second ago","%d seconds ago",1);

_x("%d minute ago","%d minutes ago",1);

_x("%d hour ago","%d hours ago",1);

_x("%d day ago","%d days ago",1);

_x("%d month ago","%d months ago",1);

_x("%d year ago","%d years ago",1);

_e('Error! Cannot add item.');
_e('Error! Cannot save item.');
_e('Error! Cannot delete item.');
_e('Item has been deleted successfully!');
_e('Item has been saved successfully!');
_e('Item has been added successfully!');
_e('Settings updated successfully!');
_e('Authentication Failed!');
_e('Please check your email for a password reset link.');
_e('Email address was not found.');
_e('Invalid reset key!');
_e('Success. Please log in with your new password!');


?>
