<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1><?php _e('Search'); ?><small> <?php _e('Search system wide'); ?></small></h1>
		<ol class="breadcrumb"><li><a href="?route=dashboard"><i class="fa fa-dashboard"></i> <?php _e('Home'); ?></a></li><li class="active"><?php _e('Search'); ?></li></ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<?php if(!empty($statusmessage)): ?>
				<div class="row"><div class='col-md-12'><div class="alert alert-<?php print $statusmessage["type"]; ?> alert-auto" role="alert"><?php print __($statusmessage["message"]); ?></div></div></div>
		<?php endif; ?>
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
          			<div class="box-header with-border"><h3 class="box-title"></h3></div><!-- /.box-header -->
                    <div class="box-body">
						<form role="form" method="get" action="" class="form-inline">
							<div class="form-group" style="width:94%">
								<input type="text" class="form-control input-lg" style="width:100%" id="query" name="q" placeholder="<?php _e('Search String...'); ?>" value="<?php if(isset($_GET['q'])) echo $_GET['q']; ?>" required>
							</div>

							<input type="hidden" name="route" value="search">
							<button type="submit" class="btn btn-primary btn-lg"><?php _e('Search'); ?></button>
						</form>
						<div class="clear"></div>

						<?php if(!empty($assets)) { ?>
							<div class="row">
								<div class="col-xs-12"><h3><?php _e('Assets'); ?></h3></div>
								<?php foreach($assets as $asset) { ?>
									<div class="col-xs-3"><div class="callout callout-gray">
					                  <h4><?php if(in_array("manageAsset",$perms)) { ?><a href="?route=inventory/assets/manage&id=<?php echo $asset['id']; ?>"><?php echo $asset['tag']; ?></a><?php } else echo $asset['tag']; ?></h4>
					                  <p><?php echo $asset['name']; ?></p>
					                </div></div>
								<?php } ?>
							</div>
						<?php } ?>

						<?php if(!empty($licenses)) { ?>
							<div class="row">
								<div class="col-xs-12"><h3><?php _e('Licenses'); ?></h3></div>
								<?php foreach($licenses as $license) { ?>
									<div class="col-xs-3"><div class="callout callout-gray">
					                  <h4><?php if(in_array("manageLicense",$perms)) { ?><a href="?route=inventory/licenses/manage&id=<?php echo $license['id']; ?>"><?php echo $license['tag']; ?></a><?php } else echo $license['tag']; ?></h4>
					                  <p><?php echo $license['name']; ?></p>
					                </div></div>
								<?php } ?>
							</div>
						<?php } ?>

						<?php if(!empty($projects)) { ?>
							<div class="row">
								<div class="col-xs-12"><h3><?php _e('Projects'); ?></h3></div>
								<?php foreach($projects as $project) { ?>
									<div class="col-xs-3"><div class="callout callout-gray">
					                  <h4><?php if(in_array("manageProject",$perms)) { ?><a href="?route=projects/manage&id=<?php echo $project['id']; ?>"><?php echo $project['tag']; ?></a><?php } else echo $project['tag']; ?></h4>
					                  <p><?php echo $project['name']; ?></p>
					                </div></div>
								<?php } ?>
							</div>
						<?php } ?>

						<?php if(!empty($clients)) { ?>
							<div class="row">
								<div class="col-xs-12"><h3><?php _e('Clients'); ?></h3></div>
								<?php foreach($clients as $client) { ?>
									<div class="col-xs-3"><div class="callout callout-gray">
					                  <h4><?php if(in_array("manageClient",$perms)) { ?><a href="?route=clients/manage&id=<?php echo $client['id']; ?>">ID: <?php echo $client['id']; ?></a><?php } else echo $client['id']; ?></h4>
					                  <p><?php echo $client['name']; ?></p>
					                </div></div>
								<?php } ?>
							</div>
						<?php } ?>

						<?php if(!empty($tickets)) { ?>
							<div class="row">
								<div class="col-xs-12"><h3><?php _e('Tickets'); ?></h3></div>
								<?php foreach($tickets as $ticket) { ?>
									<div class="col-xs-3"><div class="callout callout-gray">
					                  <h4><?php if(in_array("manageTicket",$perms)) { ?><a href="?route=tickets/manage&id=<?php echo $ticket['id']; ?>"># <?php echo $ticket['ticket']; ?></a><?php } else $ticket['ticket']; ?></h4>
					                  <p><?php echo $ticket['subject']; ?></p>
					                </div></div>
								<?php } ?>
							</div>
						<?php } ?>

						<?php if(!empty($articles)) { ?>
							<div class="row">
								<div class="col-xs-12"><h3><?php _e('Knowledge Base Articles'); ?></h3></div>
								<?php foreach($articles as $article) { ?>
									<div class="col-xs-3"><div class="callout callout-gray">
									  <h4><?php if(in_array("viewKB",$perms)) { ?><a href='#' onClick='showM("?modal=kb/viewArticle&reroute=kb&id=<?php echo $article['id']; ?>");return false'><?php echo $article['name']; ?></a><?php } else $article['name']; ?></h4>
									  <p>KB<b><?php echo $article['id']; ?></b></p>
									</div></div>
								<?php } ?>
							</div>
						<?php } ?>

					</div>
				</div>
			</div>

		</div>


	</section><!-- /.content -->
</aside><!-- /.right-side -->
