<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Update Borrow Status'); ?></h4></div>
<div class="modal-body">
    <?php _e('Are you sure you want to update this borrow status ?'); ?>
    <input type="hidden" name="id" value="<?php echo $_GET['id']; ?>">
    <input type="hidden" name="value" value="<?php echo $_GET['value']; ?>">
    <input type="hidden" name="action" value="updateBorrowStatus">

    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="">
</div>
<div class="modal-footer">
    <button type="button" onclick="location.reload();" class="btn btn-default" data-dismiss="modal"><?php _e('No'); ?></button>
    <button type="submit" class="btn btn-danger" ><?php _e('Yes'); ?></button>
</div>
